.container{
    width: 980px;
    background-color: silver;
    margin: auto;
    padding-top:5px;
    padding-bottom: 20px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 20px;
    
}
.side-nav {
    display: inline-block;
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-left: 20px;
}
.main {
    display: inline-block;
    height: 400px;
    width: 700px;
    background-color: red;
    vertical-align: top;
    margin-left: 35px;
}
.sub-content {
    display: inline-block;
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin-left: 10px;
    margin-top: 20px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 10px;
}

